 .header .menu img 
 {
  max-height: 35px;

 }

 .header 
 {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 45px;
  width: 100%;

 }

  .header .menu 
 {
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  border-radius: 8px;

  
 }
  .header .search_box
 {
  border-style: solid;
  align-self: center;
  border-color: #000000;
  border-width: 3px;
  border-radius: 8px;

  
 }


